* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#mainmenue {
  display: flex;
  justify-content: space-evenly;
  min-height: 10vh;

  align-items: center;
}
#mainmenue > li {
  list-style: none;
}
li > a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(138 134 134);
}
li > a:hover {
  color: rgb(131 7 7);
}
#intro {
  background-image: url(../images/laptop_top.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro > h3 {
  font: bold 1.2rem tahoma;
  text-align: center;
  color: white;
}
#intro > button {
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  font-weight: bold;
  border-radius: 20px;
  background-image: linear-gradient(to left, rgb(133 206 248), rgb(32 92 202));
}
#intro > button:hover {
  background-image: linear-gradient(to right, rgb(133 206 248), rgb(32 92 202));
}

.locations-container {
  
  display: flex;
  
}
.locations {
  
  width: 50%;
  display: flex;
}
.map {
  
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-side {
  
  width: 50%;
}
.second-side {
  
  width: 50%;
}

.location-item {
  background-color: lightgrey;
  width: 70%;
  margin: 20px auto;
  height: 70px;
  border-radius: 10px;
}

#iti-locations h2,.location-p {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.v{

  width: 80%;
}


#iti-locations{
  height:  100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smart{
  color: red;
}