//colors
$footerColor:#5e7ca8;
$liBackGroundColor:#acc7d0;
$bodyBackGroundColor:#e6eaeb;
$typographyColor:#212426;
$whiteColor:white;

//borders
$borderColor:#212426;
$borderThickness:2px;
$borderShape:solid;


//utilities
$basePadding:10px;
$baseMargin:10px;

//font
$baseFontSize:10px;

//radius
$cornerRadius:20px

