* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 0px) {
  .col-1 {
    width: 8.3333333333%;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333333333%;
  }
  .col-8 {
    width: 66.6666666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333333333%;
  }
  .col-11 {
    width: 91.6666666667%;
  }
  .col-12 {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 576px) {
  .reverse-sm {
    flex-direction: column-reverse !important;
  }
  .normal-sm {
    flex-direction: row !important;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .container {
    width: 576px;
    margin: auto;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .reverse-md {
    flex-direction: column-reverse !important;
  }
  .normal-md {
    flex-direction: row !important;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .container {
    width: 768px;
    margin: auto;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 992px) {
  .reverse-lg {
    flex-direction: column-reverse !important;
  }
  .normal-lg {
    flex-direction: row !important;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .container {
    width: 992px;
    margin: auto;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 1200px) {
  .reverse-xl {
    flex-direction: column-reverse !important;
  }
  .normal-xl {
    flex-direction: row !important;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .container {
    width: 1200px;
    margin: auto;
  }
}
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 1400px) {
  .reverse-xxl {
    flex-direction: column-reverse !important;
  }
  .normal-xxl {
    flex-direction: row !important;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .container {
    width: 1400px;
    margin: auto;
  }
}
body {
  background-color: #e6eaeb;
}

nav {
  margin-top: 10px;
}
nav li {
  list-style: none;
  background-color: #acc7d0;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  border: 2px solid white;
  text-transform: capitalize;
  margin-left: 10px;
  height: 50px;
}

header .header-photo {
  height: 200px;
  background-image: url(assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  margin: 40px 0;
}
section .place h2 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 10px;
}
section .place p {
  margin-bottom: 10px;
  margin-left: 10px;
}
section img {
  width: 100%;
  height: 200px;
  border: 2px solid black;
  padding: 10px;
}

footer {
  text-align: center;
  background-color: #5e7ca8;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

/*# sourceMappingURL=style.css.map */