.profile-card{
    text-align: center;
    border: solid 3px black;
    display: inline-block;
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 8px;
}
img{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}