
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#map {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin: 30px;

    border-radius: 50px;
    border: purple 3px solid;
    box-shadow: 10px 10px 10px lightblue ,-10px -10px 10px lightblue ;
}
.container{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 40px 40px 20px orange inset,-40px -40px 20px orange inset;
}
.map-container{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px orange inset,-10px -10px 20px orange inset;
}
.map-navigation{
    background-color: bisque;
    height: 70px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid black;

}
.map-navigation button{
    background: linear-gradient(to bottom, white,blue);
    margin-left: 30px;
    border: none;
    color: white;
    border-radius:5px;
    padding: 10px;
    transition:transform 1s ;
}
.map-navigation button:hover{
  transform: skew(20deg) scale(1.3);
}
#details-map{
    width: 500px;
    height: 300px;
    margin: auto;
    margin: 30px;
    transition:transform 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: black 3px solid;
    text-align: center;
    background: radial-gradient(ellipse at center, #228B22  50%, blue 80%);
    box-shadow: 10px 10px 30px blue inset ,-10px -10px 30px blue inset;
    display: none;
}
.content{
    width:80%;
   
}
.content input{
   width: 100%;
   padding: 5px;
   background-color: lightblue;
}
#details-map:active {
    transform: scale(1.2);
    color: white;
    box-shadow: 10px 10px 80px blue inset ,-10px -10px 80px blue inset;
    background: radial-gradient(ellipse at center, blue  10%, white 80%);
    border: lightblue 3px solid;
}