
.eggPlaceHolder{
    width: max-content;
}

.egg{
    position: absolute;
    width: 100px;
}
.h5{
    padding: 16px;
    font-size: 35px;
}
body{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("images/farm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1rem solid black;
}

.basket{
    position: absolute;
    width: 150px;
    bottom: 16px;
    left: 50vw;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}