.ml-10{
  margin-left: $baseMargin;
}
.mb-10{
  margin-bottom: $baseMargin;
}
.mt-10{
  margin-top: $baseMargin;
}
.m-40{
  margin: 40px 0;
}
.text-capitalize{
  text-transform: capitalize;
}
.fs-large{
  font-size: 20px;
}